

<h1>Welcome to _________!  Here you can breakdown all the costs associated with your awesome trip with your awesome friends!  Super cool right?  We think so too.  Feel free to log in or sign up below and get started on your super sweet vaca.</h1>
