html {
  background: url(http://i.imgur.com/sznD8BT.jpg) no-repeat center center fixed;
  background-size: cover;
}

// setting table bg color //
$table-background: rgba(32,32,32,.8);

h1 {
  background:$table-background;
  padding: 15px;
  border-radius: 10px;
  margin: 15px;
}

@import 'bourbon';

@import 'events';
@import 'expenses';
@import 'users';
@import 'welcome';

// setting site wide blue button header + color and white text //
$blue_bg_color:#3B5998;
$text_color: white;

// setting site wide font to verdana //
body{
	color:$text_color;
	font-family: $verdana;
}
button { 
	display: inline-block;
}

header {
	background-color:$blue_bg_color;
	height:3em;
}
// setting page body margin -- everything after header //
section{
	margin:10px;
}
// setting page links //
 xa {
	text-decoration:none;
	margin: 5px;
	@include button($blue_bg_color);
		&:hover{
			color:white;
		}
}

a {
	text-decoration:none;
	margin: 5px;
	color:gray;
	text-transform: capitalize;
		&:hover{
			text-decoration:underline;
			color:white;
			font-weight:bold;
		}
}



// setting radius for table //
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// setting up site wide table bg color //


$table_bg_color:hsla(0, 0%, 5%, 0.8);

#sassTable {
	@include border-radius(4px);
	background-color:$table_bg_color;
	text-align:left;
	width:90%;
	margin: 10px 0px;
	padding: 2px;
	font-size: inherit;
	vertical-align: middle;
	border-collapse: separate;
	border-spacing: 3px;
			  &.th, &.td, &.hr, &.thead, &.tbody {
				background-color:$table_bg_color;
				text-align:left;
		}
}


.message, .success, .error, .warning {
  border: 1px solid #cccccc;
  padding: 10px;
  color: #333;
}



















