// setting sheet links as imports //

@import 'bourbon';

@import 'events';
@import 'expenses';
@import 'users';
@import 'welcome';

// setting site wide blue button header + color and white text //
$blue_bg_color:#3B5998;
$text_color: white;

// setting site wide font to verdana //
body{
	color:$text_color;
	font-family: $verdana;
}
button { 
	display: inline-block;
}

header {
	background-color:$blue_bg_color;
	height:3em;
}
// setting page body margin -- everything after header //
section{
	margin:10px;
}
// setting page links //
 a {
	text-decoration:none;
	margin: 5px;
	@include button($blue_bg_color);
		&:hover{
			color:white
		}
}

// setting radius for table //
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// setting up site wide table bg color //

$table_bg_color:hsla(221, 44%, 21%, 0.65);


#sassTable {
	@include border-color(red green null blue);
	@include border-radius(4px);
	background-color:$table_bg_color;
	text-align:left;
	width:90%;
	margin: 10px 0px;
	padding: 2px;
	font-size: inherit;
	vertical-align: middle;
	border-collapse: separate;
	border-spacing: 3px;
			  &.th, &.td, &.hr, &.thead, &.tbody {
				background-color:$table_bg_color;
				text-align:left;
		}
}


.message, .success, .error, .warning {
  border: 1px solid #cccccc;
  padding: 10px;
  color: #333;
}



















