// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  background:rgb(250,250,250);
  color: rgb(40,40,40);
  background-image:none;
}

.events-title {
	padding-top: 8px;
	margin:auto;
	font-weight: bold;
	font-size: 1.7em;
}

span.events-going {
	padding-left:100px;
	font-weight: bold;
	font-size: 1.2em;
}

table.event_info {
	padding: 60px;
	float: right;
	width: 500px;
}

.event_info td {
	background-color: white;
}

div.breakdown {
	/*border: solid 1px grey;*/
	text-align: right;
	float: right;
	background: white;
	padding: 18px 18px 0px 18px;
	border-radius: 12px;
	position: block;
	bottom: -30px;
}

div.breakdown_wrap {
	position: absolute;
	bottom: 27px;
	right: 27px;
}

span.cost {
	font-size: 1em;
	color: grey;
}

.owed {
	padding-top: 2px;
	font-size: 1.3em;
	font-weight: bold;
}

tr.pending, tr.invited {
	color: gray;
}
td, th, tr {
	background-color: white !important;
}
td.checkmark {
	text-align: center;
}

#calendar {
	max-width: 1020px !important;
	margin: 0 auto;
}

div.event_wrapper {
	box-shadow: 1px 1px 8px rgba(0,0,0,.1);
	overflow: auto;
	text-align: left;
	height: 100%;
	background-color: rgba(255,255,255,1);
	border-radius: 10px;
	width: 960px;
	/*padding-bottom: 40px;*/
	padding: 10px 28px 28px 30px;
	position: relative;
	margin: auto;
}

div.event_wrapper2 {
	box-shadow: 1px 1px 8px rgba(0,0,0,.1);
	text-align: left;
	background-color: rgba(255,255,255,1);
	border-radius: 10px;
	width: 960px;
	padding: 20px;
	top: 20px;
	margin:auto;
}

div.event_info {
	float: left;
}

img.event_img {
	width: 320px;
	height: 320px;
	margin-right: 20px;
	border-radius: 10px;
}

#finalized {
	/*float: right;*/
	right: 26px;
	top: 10px;
	color: red;
	position: absolute;
}




