// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.events-title {
	padding-top: 8px;
	margin:auto;
	font-weight: bold;
	font-size: 1.7em;
}
span.events-going {
	padding-left:118px;
	font-weight: bold;
	font-size: 1.2em;
}

table.event_info {
	padding: 50px;
	float: right;
	width: 500px;
}

div.breakdown {
	/*width: 200px;*/
	border: solid 1px grey;
	text-align: right;
	float: right;
	background: white;
	padding: 18px;
	border-radius: 12px;
	position: block;
	bottom: -30px;
	/*margin-right: 30px;*/
}
div.breakdown_wrap {
position: absolute;
bottom: 50px;
right: 40px;
}
span.cost {
	color: grey;
}

span.owed {
	font-size: 1.3em;
	/*margin-top: 10px;*/
}



#calendar {
		max-width: 900px;
		margin: 0 auto;
	}




