div.expense_form {
	text-align: center;
	margin: auto;
	max-width: 540px;
	border: solid 1px white;
	padding: 20px;
	border-radius: 20px;
	background-color: white;
	margin-top: 8px;
	box-shadow: 1px 1px 8px rgba(0,0,0,.1);
}

div.expense_type {
	left: 500px;
}

div.expense_model_breakdown {
	text-align: left;
	padding: 0 18px 0 18px;
}

div.expense_model_breakdown h2 {
	font-size: .9em;
	color: rgb(100,100,100);
}