
html, body {
	font-family: 'Didact Gothic', sans-serif;
}
// setting table bg color //
$table-background: white;

h1 {
  border:1px solid #6496ff;
  padding: 15px;
  border-radius: 5px;
  margin: 10px;
	font-size:18px;
	font-weight:bold;
}

h1, h2 {
	font-family: 'Ubuntu', sans-serif;
}

h2{
	margin: 8px 0 5px;
	font-size: 22px;
	font-weight: bold;
  color: #3D3D3D;
}

@import 'bourbon';
@import 'welcome';
@import 'events';
@import 'expenses';
@import 'users';


// setting site wide blue button header + color and white text //

$blue_bg_color:#3B5998;
$text_color: black;

// setting site wide font to verdana //

body{
	color:$text_color;
	/*font-family: $verdana;*/
}

header {
	background-color: rgba(100,150,255,1);
	height: 60px;
	width: 100%;
	top:0;
	box-shadow: 1px 1px 8px rgba(0,0,0,.1);
}
// setting page body margin and bottom page link buttons //

section{
	margin: 15px 0 75px 15px;
		.site-buttons {
		a {
			@include button($blue_bg_color);
			display: inline-block;
			text-decoration: none;
			color:white;
				&:hover {
					color:white;
					text-decoration:none;
					font-size:16px;
			}
		}
	}
}


// setting button links //

header a {
	text-decoration: none;
	color: rgb(220,220,220);
	margin: 5px;
	margin-top: 14px;
		&:hover{
			color: white;
			text-decoration: none;
			font-weight: normal;
			font-size: 15px;
		}
}

// setting page links //

a {
	text-decoration:none;
	margin: 5px;
	font-size: 15px;
	color: gray;
	/*text-transform: capitalize;*/
		&:hover{
			color:#6496ff;
			/*font-weight:bold;*/
		}
}



// setting radius for table //
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// setting up site wide table bg color //

$table_bg_color:hsla(0, 0%, 5%, 0.8);

#sassTable {
	@include border-radius(4px);
	/*background-color:$table_bg_color;*/
	text-align:left;
	/*width:90%;*/
	margin: 10px 0px;
	padding: 2px;
	font-size: inherit;
	vertical-align: middle;
	border-collapse: separate;
	box-shadow: 1px 1px 8px rgba(0,0,0,.1);
	border-spacing: 3px;
			  &.th, &.td, &.hr, &.thead, &.tbody {
				background-color:$table_bg_color;
				text-align:left;
				/*border: solid 1px grey;*/
		}
}


.message, .success, .error, .warning {
  border: 1px solid #cccccc;
  padding: 10px;
  color: #333;
}

.strong {
	font-weight:bold;
	line-height:1.5em;
}

img.header_image {
	border-radius: 100%;
	float: right;
	width: 50px;
	height: 50px;
	margin:5px;
	margin-right: 16px
}

span.logout a {
	float: right;
	margin-top: 20px;
	padding-right:6px;
	color: white;
	font-size: 1.1em;
}
span.logout a:hover {
	color: yellow;
}
span.admin_a a {
	margin-top: 20px;
	font-size: 1.1em;
	color: white;
}
span.admin_a {
	margin-top: 20px;

}
span.admin_a a:hover {
	color: yellow;
}

span.admin {
	margin-top: 22px;
}

// Gray do we still need this style -- broke into  event-title and events-going //
div.strong {
	padding: 8px;
	margin:auto;
	font-weight: bold;
	font-size: 1.1em;
}


div.login {
	/*background-color: rgba(255,255,255,.2);*/
	height: 182px;
	margin-bottom: -10px;
}
div.login input {
	padding: 10px;
	font-size: 1.2em;
	width: 200px;
	border-radius: 8px;
	background-color: white;
}

div.login input[type="submit"], div.login input[type="submit"].submit, div button a, div button, div.login a {
	padding: 10px;
	font-size: 18px;
	border-radius: 8px;
	color: white;
	background-color: rgba(100,150,255,1);
	border: none;
	font-weight: bold;
	border-radius: 0;
	font-family: 'Ubuntu';
	font-size: 20px;
	margin-left: 0;
	margin-right: 0;
/*width: 0%;*/

}
div.login input[type="submit"]:hover {
	color: yellow;
	cursor: pointer;
}
div button {
	padding: 10px 0 10px 0 ;
	width: 200px;
}

button a:hover {
	cursor: pointer;
	color: yellow;

}
div.split_it {
	font-family: 'Ubuntu';
	position: absolute;
	font-size: 10em;
	height: 0;
	text-align: center;
	color: rgba(255, 255, 255, 1);
	margin: auto !important;
	text-shadow: 0px 0px 20px black;
	top: 50px;
	z-index: 0;
	width: 100%;

}
.form3 {
	background-color: white !important;
	margin-top: 10px !important;
}

div#login {
	top: 140px;
	padding: 40px;
}

button a {
	font-family: 'Ubuntu';
	width: 200px;
	padding-left: 61px !important;
	padding-right: 61px !important;
	font-size: 20px;
	margin: 0;
}

div.event_links {
	margin-top: -24px;
	text-align: center;
	position: relative;
	margin-bottom: 20px
}
div.picture_wrapper div.form {
	margin-top: 120px
}


// setting page body margin and bottom page link buttons //

section{
	margin:10px;
	margin-top: 40px;
		.site-buttons {
		a {
			@include button($blue_bg_color);
			display: inline-block;
			text-decoration: none;
			color:white;
				&:hover {
					color: white;
					text-decoration: none;
					font-size: 16px;
			}
		}
	}
}


// setting button links //


.site-buttons a {
	@include button($blue_bg_color);
	display: inline-block;
	text-decoration: none;
	color:white;
	margin: 5px 0 75px 0;
		&:hover{
			color:white;
			text-decoration:none;
			font-size:15px;
		}
}

// setting page links //

// setting radius for table //
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// setting up site wide table bg color //

$table_bg_color:hsla(0, 0%, 5%, 0.8);

div.center_wrap {
	text-align: center;
}

#table {
	margin: 0 auto;
	/*border: solid 1px black;*/
}

table.table {
/*background-color: rgba(0,0,0,.2);*/
border-radius: 12px 12px 0 0;
/*border: solid 1px rgba(0,0,0,.4);*/

}
th {
	padding: 10px;
}
td {
	/*border: solid 1px lightgrey;*/
	padding: 10px;
	background-color: white;
	/*max-width: 100px;*/
}
div.form, #invite_friend_form, .form3 {
	text-align: center;
	margin: auto;
	max-width: 320px;
	border: solid 1px white;
	padding: 30px;
	border-radius: 20px;
	background: rgba(255,255,255,.6);
	margin-top: 50px;
	box-shadow: 1px 1px 8px rgba(0,0,0,.1);
	z-index: 500;
	position: relative;
}

h2#new_event_head {
	text-align: center;
	font-size: 25px;
	margin-top: 35px;
}

input {
	font-size: .9em;
}

.strong{
	font-weight:bold;
	line-height:1.5em;
}

div.field {
	/*border: solid 1px black;*/
	padding-right: 180px;
	text-align: right;
	margin: 8px;
}

span.logo a {
	font-family: 'Ubuntu', sans-serif;
	float: left;
	font-size: 2.4em;
	margin-top: 10px;
	color:white;
	margin-left: 16px;
}
span.logo a:hover {
	color: yellow;
}

p.small_text {
	font-size: .8em;
	color: grey;
	padding:0 16px 0 16px;
}

div.expense_model_breakdown h2 {
	font-size: .9em;
	color: rgb(100,100,100);
}

// .form3 {
// 	margin: auto;
// 	max-width: 390px;
// 	border: solid 1px white;
// 	padding: 20px;
// 	border-radius: 20px;
// 	background: rgba(255,255,255,.3);
// 	margin-top: 50px;
// 	box-shadow: 3px 3px 60px rgba(0,0,0,.2);
// 	height: 175px;
// }

#sub {
	margin-top: 2.25%;
}


div.form2 {
	text-align: center;
	margin: auto;
	max-width: 390px;
	border: solid 1px white;
	padding: 20px;
	border-radius: 20px;
	background: rgba(255,255,255,.3);
	margin-top: 50px;
	box-shadow: 3px 3px 60px rgba(0,0,0,.2);
	height: auto;
	&.p action_button  {
		  margin-left:50px;
	  }
	font-family: 'Ubuntu';
}

div.field2 {
  margin: 8px;
  p {
  float:right;
  	margin-bottom:4px;
  }
}

div.location {
  float:left;
  margin-left:20px;
  margin-top:-0.5px;
}

div.img {
  float:left;
  margin-left:36px;
  margin-top:-5px;
}

div.sub {
  padding-top: 18px;
  margin-left:15px;
}

div.field2a {
  margin-bottom: 4px;
}

div.pull{
	margin-left:-32px;
}
div.conf{
	margin-left:-50px;
}

div.Suggestion {
	text-align:center;
}


div.f_name{
  float:left;
  margin-left:30x;
  margin-top:-5px;
}

div.e_date{
  float:left;
  margin-left:15px;
  margin-top:-5px;
  font-size:17px;
}
div.s_date{
  float:left;
  margin-left:7px;
  margin-top:-5px;
  font-size:17px;
}

.hack
{
	margin-left:38px;
}

#field_users_form{
	margin-bottom:4px;
}
div.form {
	margin-top: 10px;
}

.tableHeader {
	border-bottom: solid 1px;
}

.eventsHeader {
	display: inline;
	padding: 1px;
	margin: 10px;
}

#eventsHeader {
	text-align: center;
	padding: 10px;
}

#ownerTitle, #organizerTitle, #invitedTitle {
	color: gray;
}

.hover {
	border-bottom: solid 3px #6496ff;
}

.scroll {
  max-height: 220px;
  overflow: auto;
  float: right;
  width: 600px;
}

.highlight {
	color: gray;
}

#dialog_form {
	display: none;
}

.ui-dialog {
z-index: 1000 !important;
}

.ui-dialog-titlebar {
	height: 20px;
}

.ui-dialog .ui-dialog-title {
	float: none;
	overflow:visible;
}
