
// setting table bg color //
$table-background: rgba(32,32,32,.8);

h1 {
  border:1px solid #6496ff;
  padding: 15px;
  border-radius: 5px;
  margin: 10px;
	font-size:18px;
	font-weight:bold;
}

h2{
	margin: 20px 0 5px;
	font-size:16px;
	font-weight:bold;
}

@import 'bourbon';
@import 'welcome';
@import 'events';
@import 'expenses';
@import 'users';


// setting site wide blue button header + color and white text //

$blue_bg_color:#3B5998;
$text_color: black;

// setting site wide font to verdana //

body{
	color:$text_color;
	font-family: $verdana;
}

header {
	background-color: rgba(100,150,255,1);
	height: 44px;
	width: 100%;
	top:0;
}
// setting page body margin and bottom page link buttons //

section{
	margin: 15px 0 75px 15px;
		.site-buttons {
		a {
			@include button($blue_bg_color);
			display: inline-block;
			text-decoration: none;
			color:white;
				&:hover {
					color:white;
					text-decoration:none;
					font-size:16px;
			}
		}
	}
}


// setting button links //

header a {
/*	@include button($blue_bg_color);
	display: inline-block;*/
	text-decoration: none;
	color: rgb(220,220,220);
	margin: 5px;
	margin-top: 14px;
		&:hover{
			color: white;
			text-decoration:none;
			font-weight: normal;
			font-size:15px;
		}
}

// setting page links //

a {
	text-decoration:none;
	margin: 5px;
	font-size:15px;
	color:gray;
	/*text-transform: capitalize;*/
		&:hover{
			color:#6496ff;
			/*font-weight:bold;*/
		}
}



// setting radius for table //
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// setting up site wide table bg color //

$table_bg_color:hsla(0, 0%, 5%, 0.8);

#sassTable {
	@include border-radius(4px);
	/*background-color:$table_bg_color;*/
	text-align:left;
	/*width:90%;*/
	margin: 10px 0px;
	padding: 2px;
	font-size: inherit;
	vertical-align: middle;
	border-collapse: separate;
	box-shadow: 3px 3px 60px rgba(0,0,0,.2);
	border-spacing: 3px;
			  &.th, &.td, &.hr, &.thead, &.tbody {
				background-color:$table_bg_color;
				text-align:left;
				/*border: solid 1px grey;*/
		}
}


.message, .success, .error, .warning {
  border: 1px solid #cccccc;
  padding: 10px;
  color: #333;
}

.strong{
	font-weight:bold;
	line-height:1.5em;
}

img.header_image {
	border-radius: 100%;
	float: right;
	width: 40px;
	height: 40px;
	margin:2px;
	margin-right: 16px
}

span.logout {
	float: right;
	margin-top: 14px;
	padding-right:6px;
}
// Gray do we still need this style -- broke into  event-title and events-going //
div.strong {
	padding: 8px;
	margin:auto;
	font-weight: bold;
	font-size: 1.1em;
}

div.event_info {
	float: left;
}

img.event_img {
	width: 320px;
	height: 320px;
	margin-right: 20px;
	border-radius: 10px;
}
div.login {
	/*background-color: rgba(255,255,255,.2);*/
	height: 200px;

}
div.login input {
	padding: 10px;
	font-size: 1.2em;
	border-radius: 8px;
	background-color: white;
}

div.login input[type="submit"], div.login input[type="submit"].submit, div button a, div button, div.login a{
	padding: 10px;
	font-size: 18px;
	border-radius: 8px;
	color: white;
	background-color: rgba(100,150,255,1);
	border: none;
	font-weight: bold;
	border-radius: 0;

}


div.event_wrapper {
box-shadow: 3px 3px 60px rgba(0,0,0,.2);

	/*border-top: solid 40px rgba(0,0,0,.4);*/
	text-align: left;
	height: 400px;
	/*text-align: center;*/
	/*display: inline-block;*/
	background-color: rgba(255,255,255,.1);
	border-radius: 10px;
	/*max-width: 1020px;*/
	width: 960px;
	/*padding: 20px;*/
	padding: 0 20px 40px;
	padding-bottom: 40px;
	position: relative;
	margin:auto;
}
div.event_wrapper2 {
box-shadow: 3px 3px 60px rgba(0,0,0,.2);

	/*border-top: solid 40px rgba(0,0,0,.4);*/
	text-align: left;
	/*height: 400px;*/
	/*text-align: center;*/
	/*display: inline-block;*/
	background-color: rgba(255,255,255,.1);
	border-radius: 10px;
	/*max-width: 1020px;*/
	width: 960px;
	/*padding: 20px;*/
	padding: 20px;
	top: 20px;
	position: relative;
	margin:auto;
}
div.event_links {
	margin-top: -24px;
	text-align: center;
	position: relative;
	margin-bottom: 20px
}



// setting page body margin and bottom page link buttons //

section{
	margin:10px;
	margin-top: 48px;


	/*margin: 15px 0 75px 15px;*/
		.site-buttons {
		a {
			@include button($blue_bg_color);
			display: inline-block;
			text-decoration: none;
			color:white;
				&:hover {
					color:white;
					text-decoration:none;
					font-size:16px;
			}
		}
	}

}


// setting button links //


.site-buttons a {
	@include button($blue_bg_color);
	display: inline-block;
	text-decoration: none;
	color:white;
	margin: 5px 0 75px 0;
		&:hover{
			color:white;
			text-decoration:none;
			font-size:15px;
		}
}



// setting page links //





// setting radius for table //
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// setting up site wide table bg color //

$table_bg_color:hsla(0, 0%, 5%, 0.8);




div.center_wrap {
	text-align: center;
}


#table {
	margin: 0 auto;
	/*border: solid 1px black;*/
}

table.table {
background-color: rgba(0,0,0,.4);
border-radius: 12px 12px 0 0;
/*border: solid 1px rgba(0,0,0,.4);*/

}
th {
	padding: 10px;
}
td {
	/*border: solid 1px lightgrey;*/
	padding: 10px;
	/*max-width: 100px;*/
}
div.form {
	text-align: center;
	margin: auto;
	max-width: 340px;
	border: solid 1px white;
	padding: 20px;
	border-radius: 20px;
	background: rgba(255,255,255,.3);
	margin-top: 50px;
box-shadow: 3px 3px 60px rgba(0,0,0,.2);

}
input {
	font-size: .9em;
	/*padding:4px;*/
	/*border-radius: 5px;*/
	/*width: 80px;*/
}
.strong{
	font-weight:bold;
	line-height:1.5em;
}






































