// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sign_up {
  background-image: url(http://i.imgur.com/XcCVauk.jpg);
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100%;
  position: absolute;
  width: 100%;
}

#signup_header {
  text-align: center;
  font-size: 25px;
}

#usersTable {
	/*border: 1px solid gray;*/
	border-collapse:collapse;
	tr:hover{
		background-color:#efefef;
	}
}

#profile-box {
	width: 220px;
	border:1px solid rgb(120,120,120);
	border-radius: 5px;
	margin:0 auto;
	text-align:center;
	padding:10px;
	background: rgba(255,255,255,.7);
	box-shadow: 1px 1px 8px rgba(0,0,0,.1);
}

.profile-info {
	font-size:14px;
	line-height:22px;
}

.name {
	font-size:28px;
	padding-top:7px;
}

section h2{
	text-align:center;
}
.user-profile {
	margin: 5px 0;
}

#user-sassTable {
	width:75%;
	text-align:center;
	padding:10px;
	margin: 0 auto;
	box-shadow: 1px 1px 8px rgba(0,0,0,.1);
	background-color: white;
	vertical-align: middle;
		th, td, hr, thead, tbody {
				text-align:left;
	}
}
div.center{
	text-align: center;
}
.form2 {
	background: white !important;
}
div.form {
	background-color: white !important;
}
