<header>
  	<%= link_to('Home', user_path(id: session.id)) %>
    <% if current_user.is_admin? %>
    <%= link_to('Users', users_path) %>
    <% end %>
    <span style="float: right">&nbsp;| <%= link_to("Logout", session_path, method: :delete) %></span>
    <span style="color:red; float:right">Admin</span>
</header>
